.body {
  font-family: Open Sans;
  background: #2b2b2b;
}

.body div {
  border-radius: 7px;
}

.header {
  background: #fad0af;
  border: 3px #eb6d0e solid;
  margin: 0%;
  padding: 1%;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.greeting {
  margin: 0%;
}

.date {
  margin: 0%;
  margin-right: 7%;
}

.date-input {
  font-size: 12px;
}

.widgets {
  display: flex;
  justify-content: space-evenly;
/*   height: 70%; */
}

.widgets div {
  /* padding: 1%; */
  margin: 1%;
  min-width: 30%;
/*   height: 100%; */
}

.columns {
height: 600px;
}

.left-column {
  display: flex-column;
  width: 100%;
}

.middle-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
/*   display: flex-rows; */
/* align-items: stretch; */
}

.middle-column div{
  justify-content: space-between;
/*   align-items: stretch; */
}

.right-column {
  justify-content: space-between;
}

.title {
  text-align: center;
}

.user-card-widget {
  display: flex-columns;
  background: #fdfce0;
  border: 3px #f2e814 solid;
  height: 100%;
}

.user-card-widget div {
  justify-content: space-between;
  padding: 2%;
}

.uc-module {
  justify-content: space-between;
  background-color: #c1b80b;
}

.uc-title {
  margin: 0%;
  font-size: 18px;
}

.uc-data {
  border-top: 1px solid #f2e814;
  margin: 0%;
  font-size: 15px;
  flex-grow: 1;
  flex-wrap: wrap;
}


.hydration-widget {
  background: #cadbfb;
  border: 3px #155fec solid;
  min-height: 45%;
  width: 100%;
  padding-bottom: 1%;
}

.hydration-widget div {
  padding: 2%;
}

.hydration-module {
  background: #82a9f5;
}

.hydration-title {
  margin: 0%;
  font-size: 18px;
}

.hydration-data {
  border-top: 1px solid #155fec;
  font-size: 15px;
  margin: 0%;
}

.sleep-widget {
  background: #fdc4bb;
  border: 3px #dc2205 solid;
  min-height: 45%;
  width: 100%;
}

.sleep-widget div {
  padding: 2%;
}

.sleep-module {
  background: #fb6048;
}

.sleep-title {
  margin: 0%;
  font-size: 18px;
}
.sleep-data {
  border-top: 1px solid #dc2205;
  font-size: 15px;
  margin: 0%;
}

.activity-widget {
  background: #d4fcd4;
  border: 3px #077b09 solid;
  height: 100%;
}

.activity-widget div {
  padding: 2%;
}

.activity-module {
  background: #0cc50f;
}

.activity-title {
  margin: 0%;
  font-size: 18px;
}

.activity-data {
  border-top: 1px #077b09 solid;
  font-size: 15px;
  margin: 0%;
}
