.body {
  font-family: Open Sans;
  background: gray;
}

.body div {
  border-radius: 7px;
}

.header {
  background: white;
  border: 3px blue solid;
  margin: 1%;
  padding: 1%;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.widgets {
  display: flex;
  justify-content: space-evenly;
/*   height: 70%; */
}

.widgets div {
  padding: 1%;
  margin: 1%;
  min-width: 30%;
/*   height: 100%; */
}

.columns {
height: 600px;
}

.left-column {
  display: flex-column;
  width: 100%;
}

.middle-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
/*   display: flex-rows; */
/* align-items: stretch; */
}

.middle-column div{
  justify-content: space-between;
/*   align-items: stretch; */
}

.right-column {
  justify-content: space-between;
}

.title {
  text-align: center;
}

.user-card-widget {
  display: flex-columns;
  background: #feceff;
  border: 3px #800080 solid;
  height: 100%;
}

.user-card-widget div {
  justify-content: space-between;
}

.uc-module {
  justify-content: space-between;
  background-color: #be38be;
}

.uc-title {
  margin: 0%;
  font-size: 18px;
}

.uc-data {
  border-top: 1px solid #800080;
  margin: 0%;
  font-size: 15px;
  flex-grow: 1;
  flex-wrap: wrap;
}


.hydration-widget {
  background: #cadbfb;
  border: 3px #092c6f solid;
  min-height: 45%;
  width: 100%;
}

.hydration-module {
  background: #82a9f5;
}

.hydration-title {
  margin: 0%;
  font-size: 18px;
}

.hydration-data {
  border-top: 1px solid #092c6f;
  font-size: 15px;
  margin: 0%;
}

.sleep-widget {
  background: white;
  border: 3px red solid;
  min-height: 45%;
  width: 100%;
}

.activity-widget {
  background: #e6fde7;
  border: 3px #077b09 solid;
  height: 100%;
}

.activity-module {
  background: #0cc50f;
}

.activity-title {
  margin: 0%;
  font-size: 18px;
}

.activity-data {
  border-top: 1px #077b09 solid;
  font-size: 15px;
  margin: 0%;
}
